.body {
  padding: 40px;
  padding-top: 10px;
  min-height: 84vh;
}

.NewBody {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-device-width: 480px) {
  .NewBody {
    flex-direction: column;
  }
}